.form__select {
    font-family: var(--code);
    color: var(--green-04);
    font-size: 1em;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    border-radius: 0;
    border: 0.1rem solid var(--green-04);
}

.form__select--inline {
    display: inline-block;
}

.form__number {
    font-family: var(--code);
    color: var(--green-04);
    font-size: 1em;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    border-radius: 0;
    border: 0.1rem solid var(--green-04);
}
