.map__wrapper {
    position: relative;
}

.map__border {
    stroke: var(--green-02);
    stroke-width: 0.1rem;
    fill: none;
}

.map {
    width: 100%;
    position: relative;
    z-index: 1;
}

.map__country-shape {
    stroke: var(--green-04);
    stroke-width: 0.1rem;
    fill: transparent;
    cursor: pointer;
}
.map__country-shape.map__country-shape--active {
    fill: var(--green-02);
}

.map__country-shape--static {
    cursor: default;
}

.map__graticules {
    stroke: var(--green-02);
    stroke-dasharray: 2, 6;
    stroke-width: 0.5px;
    fill: none;
}

.map__continent--active .map__country-shape {
    fill: var(--green-02);
    stroke: var(--green-04);
    stroke-width: 0.1rem;
}

.map__legend {
    pointer-events: none;
    position: absolute;
    display: block;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: var(--green-01);
    border: 0.2rem dashed var(--green-02);
    padding: 1rem;
}

.map__legend__continent {
    font-weight: var(--bold);
}

.map__capital {
    pointer-events: none;
    stroke: var(--green-01);
    stroke-width: 1px;
    fill: var(--green-04);
}

.map__capital--active {
    pointer-events: none;
    fill: var(--green-01);
    stroke: var(--green-04);
    stroke-width: 0.3rem;
}

.map__capital--hitbox {
    fill: none;
    stroke: none;
    cursor: pointer;
}

.map__trip-line {
    pointer-events: none;
    stroke: var(--green-04);
    stroke-width: 0.4rem;
}
.map__trip-line--emphasis {
    pointer-events: none;
    stroke: var(--green-01);
    stroke-width: 0.6rem;
}

.map__trip-label-bg {
    fill: var(--green-01);
    stroke: var(--green-02);
    stroke-width: 0.2rem;
}

.map__trip-label {
    pointer-events: none;
    font-size: 1rem;
    font-weight: var(--bold);
    fill: var(--green-04);
    text-anchor: middle;
    dominant-baseline: middle;
    background: var(--green-01);
}
.map__trip-label--name {
    pointer-events: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    fill: var(--green-04);
    dominant-baseline: middle;
    background: var(--green-01);
}

.map__corner {
    stroke: var(--green-02);
    stroke-width: 0.2rem;
    fill: none;
}
