// Typography etc.

// Typography etc.

// Font-face stub code. Use this if we
// want to include our own font files:

@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-Medium.eot");
    src: url("/fonts/CartographMonoCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-Medium.woff") format("woff"),
        url("/fonts/CartographMonoCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-Thin.eot");
    src: url("/fonts/CartographMonoCF-Thin.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-Thin.woff") format("woff"),
        url("/fonts/CartographMonoCF-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-MediumItalic.eot");
    src: url("/fonts/CartographMonoCF-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-MediumItalic.woff") format("woff"),
        url("/fonts/CartographMonoCF-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-Heavy.eot");
    src: url("/fonts/CartographMonoCF-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-Heavy.woff") format("woff"),
        url("/fonts/CartographMonoCF-Heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-HeavyItalic.eot");
    src: url("/fonts/CartographMonoCF-HeavyItalic.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-HeavyItalic.woff") format("woff"),
        url("/fonts/CartographMonoCF-HeavyItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

// Fonts
:root {
    // Font families
    --display: "Cartograph Mono", sans-serif;
    --text: "Cartograph Mono", sans-serif;
    --code: "Cartograph Mono", Menlo, Monaco, "Andale Mono", "Lucida Console",
        "Courier New", monospace;
    // Weights
    --thin: 200;
    --book: 400;
    --bold: 700;
}
