:root {
    --c-accent: #ef6f00;
    --c-hairline: #3a4b5f;
    --c-strong: #fafbf9;
    --c-button-bg: var(--c-accent);
    --c-button-text: #fafbf9;
    --c-button-bg--hover: #fafbf9;
    --c-button-text--hover: var(--c-accent);
    --c-supplemental: #8097b2;
    --c-incidental: #4d647f;
    --c-active: #192029;
    --c-background-secondary: #3a4b5f;
    --c-error: #c90a0c;
    --c-background-subtle: #1f2833;
    --c-background-plain: #27323f;

    // Selection Colours
    --selection--primary: var(--c-background-plain);
    --selection--secondary: var(--c-strong);
}

:root[data-theme="light"] {
}

::selection {
    color: var(--selection--primary);
    background: var(--selection--secondary);
}
a::selection {
    color: var(--selection--primary);
    // text-decoration:none;
    background: var(--c-accent);
    text-shadow: none !important;
}
